body {
	margin:0;
	background-image:url(images/wood-tabel-gallery.png);
	background-size:cover;
	height:100%;
	transition: opacity 1.5s ease;
	-webkit-user-select: none;
	position: relative;
}
#logo {
	position: absolute;
	top:-11%;
	left:-6%;
	width: 300px;
}
.background {
	background-image: url(images/contact-page-background2.png);
	width: 950px;
	height: 100%; 
	margin: 0;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
h1 {
	font-size:40px;
	color:#fefefe;
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#main-text
{
	font-family: RiotSquadNF;
	font-weight: 400;
	font-size: 17pt;
}
.text { 
	width: 800px;
	height: 600px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
p {
	color:#fefefe;
	font-family: RiotSquadNF; 
	font-size: 22px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;

}
.mail-link{
	color: #fefefe
}
.contact-link{
	color: #fefefe
}
.gallery-link{
	color: #fefefe
}
.home-link{
	color: #fefefe
}
.headline{
	font-family: Lemonada;
	font-weight: bold;
}
/*
background-color: rgba(148, 125, 93, 0.4);